<% layout("layouts/bolierplate.ejs") %>
<h1>Sign up</h1>
<form method="POST" action="/users/signup">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign up</button>
</form>